/*
 *  Login Form + Reset Password Form Basic Styling
 */
 
.loginform, .lostpasswordform {
	padding:15px;
} 

.loginform h3 .genericon,
.lostpasswordform h3 .genericon{
	font-size: larger;
    padding-bottom: 1px;
    vertical-align: text-bottom;
}

.loginform p,
.lostpasswordform p  {
	width:80%;
}

.loginform p label, .loginform p span, .loginform p input[type="text"], .loginform p input[type="password"],
.lostpasswordform p label, .lostpasswordform p span, .lostpasswordform p input[type="text"] {
	width:100%;
}

.loginform p input[type="text"],
.lostpasswordform p input[type="text"] {
	width:auto;
}

.loginform p.login-remember input{
    display: inline;
    height: auto;
    margin-top: -3px;
    width: auto;
}
.loginform p.login-remember label{
	display: inline;
}
 
/*
 * Form Loading
 */ 
.loginform.loading p,
.lostpasswordform.loading p {
	background-color: #ccc;
	opacity: 0.3;
}

.loginform .spinner,
.lostpasswordform .spinner {
	position:absolute;
}