/*
 *  Login Form + Reset Password Form Basic Styling
 */
.loginform , .lostpasswordform {

	padding:15px;

	h3 .genericon {
		font-size: larger;
		padding-bottom: 1px;
		vertical-align: text-bottom;
	}

	.spinner {
		position:absolute;
	}

	.error{
		border-color:red;
	}

	p{
		width:80%;

		label, span, input[type="text"],input[type="password"] {
			width:100% !important;
		}

		input[type="text"]{
			width:auto;

			&.error {
				background-color:#f3cdcd;
			}
		}

		&.login-remember {
			input {
				float: none;
				height: auto;
				margin-right: 5px;
				margin-top: 0;
				width: auto;
			}

			label,input{
				display: inline;
			}
		}
	}

	&.loading p {
		background-color: #ccc;
		opacity: 0.3;
	}
}