/*
 *  Login Form + Reset Password Form Basic Styling
 */
.loginform, .lostpasswordform {
  padding: 15px; }
  .loginform h3 .genericon, .lostpasswordform h3 .genericon {
    font-size: larger;
    padding-bottom: 1px;
    vertical-align: text-bottom; }
  .loginform .spinner, .lostpasswordform .spinner {
    position: absolute; }
  .loginform .error, .lostpasswordform .error {
    border-color: red; }
  .loginform p, .lostpasswordform p {
    width: 80%; }
    .loginform p label, .loginform p span, .loginform p input[type="text"], .loginform p input[type="password"], .lostpasswordform p label, .lostpasswordform p span, .lostpasswordform p input[type="text"], .lostpasswordform p input[type="password"] {
      width: 100% !important; }
    .loginform p input[type="text"], .lostpasswordform p input[type="text"] {
      width: auto; }
      .loginform p input[type="text"].error, .lostpasswordform p input[type="text"].error {
        background-color: #f3cdcd; }
    .loginform p.login-remember input, .lostpasswordform p.login-remember input {
      float: none;
      height: auto;
      margin-right: 5px;
      margin-top: 0;
      width: auto; }
    .loginform p.login-remember label, .loginform p.login-remember input, .lostpasswordform p.login-remember label, .lostpasswordform p.login-remember input {
      display: inline; }
  .loginform.loading p, .lostpasswordform.loading p {
    background-color: #ccc;
    opacity: 0.3; }
