/*
 *  Login Form Basic Styling
 */
 
.loginform {
	padding:15px;
} 

.loginform p label,.loginform p span, .loginform p input[type="text"], .loginform p input[type="password"] {
	width:100%;
}
 
.loginform.loading p {
	background-color: #ccc;
	opacity: 0.3;
}

.loginform .spinner {
	position:absolute;
}